@page
@model ForgotPasswordModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link href="~/lib/bootstrap/bootstrap css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/my css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .container-fluid {
            height: 100vh;            
        }

        body{
            background: linear-gradient(90deg, rgb(62, 9, 68) 0%, rgb(161, 62, 185) 100%);
        }

        #logo {
            font-size: 200px;
        }

        @@media screen and (min-width:768px) {
            #logo {
                font-size: 300px;
            }
        }

        .row {
            border: none;
            box-shadow: none;
        }

        @@media screen and (min-width:576px) {
            .row {
                box-shadow: 10px 10px 15px 5px rgba(62, 9, 68, 0.5);
                /* Dark shadow on all sides */
                border: 1px solid rgba(62, 9, 68);
                height: auto;
                width: 70vw;
            }
        }

        @@media screen and (max-width: 991px) {
            .row {
                width: 90vw;
            }
        }

        @@media screen and (max-width: 767px) {
            .row {
                width: 95vw;
            }
        }

        #signUpLink a {
            text-decoration: none;
            color: rgb(62, 9, 68);
            font-weight: bold;
        }

            #signUpLink a:hover {
                color: green;
                transform: scale(1.02);
                transition: transform 0.2s ease-in-out;
            }

        .btn {
            color: white;
            background-color: blueviolet;
        }

            .btn:hover {
                background-color: rgb(103, 15, 112);
                border-color: blueviolet;
                color: white;
                transform: scale(1.03);
                transition: transform 0.2s ease-in-out;
            }

        .form-control {
            background-color: transparent;
            padding: 5px 0;
            border-radius: 0px;
            border: none;
            border-bottom: 2px solid blueviolet;
        }
    </style>
</head>

<body>

    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row rounded-5">
            <div class="col-5 col-md-6 col-xl-7 py-5 rounded-start-5 d-none d-sm-flex flex-column justify-content-center align-items-center"
                 style="background-color: rgba(101, 28, 169, 0.501);">
                <i id="logo" class="fa fa-key text-white" aria-hidden="true"></i>
                <p class="text-white text-center">
                    Forget your Password? Don't worry! We are here for helping you. Please
                    Enter your email here to receive a password reset link.
                </p>
            </div>
            <div id="col2"
                 class="col-11 col-sm-7 col-md-6 col-xl-5 py-5 rounded-end-5 bg-light px-0 d-flex flex-column justify-content-center mx-auto mx-sm-0">
                <h3 class="mb-4 d-inline-block w-50 rounded-end-pill text-white p-2 text-center fst-italic"
                    style="background-color: blueviolet;">
                    Forget Password?
                </h3>
                <form class="px-4" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-2">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label"><i class="bi bi-envelope-fill me-1"></i> Write your email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center">                       
                        <button type="submit" class="rounded-pill btn fw-bold my-3 w-75 fs-5">Reset Password <i class="fa fa-key" aria-hidden="true"></i></button>
                    </div>              
                    <div id="signUpLink">
                        <p class="mb-0">Don't have an account?</p>
                        <a href="./Register" class="d-block">Create Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/bootstrap/bootstrap js/bootstrap.bundle.min.js"></script>
</body>

</html>



