
<div class="h1 display-5 fw-bolder fst-italic text-center text-secondary shadow-sm py-3 px-2 px-sm-0"
     style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    Our Services<i class="fa fa-solid fa-wrench ms-2"></i>
</div>

<div class="container mt-5 mb-5">
    <div class="row featurette d-flex align-items-center justify-content-center my-4 mb-5 shadow">
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title display-5 fw-bolder">Convenient Appointments<i class="fa fa-solid fa-book ms-2"></i></h5>
                <p class="card-text fs-3">
                    Schedule appointments anytime, anywhere, without waiting rooms or
                    long hold times.
                </p>
                <p class="card-text fs-4">
                    <small class="text-body-secondary">doctorBook.com</small>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="~/images/convenient_Appointment.jpg" alt="">
        </div>
    </div>
    <div class="row featurette d-flex align-items-center justify-content-center my-4 mb-5 shadow">
        <div class="col-md-7 order-md-2">
            <div class="card-body">
                <h5 class="card-title display-5 fw-bolder">Qualified Doctors<i class="fa fa-user-md ms-2"></i></h5>
                <p class="card-text fs-3">
                    Connect with experienced and board-certified Doctors across various
                    specialties.
                </p>
                <p class="card-text fs-4">
                    <small class="text-body-secondary">doctorBook.com</small>
                </p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="img-fluid" src="~/images/qualified_doctors.jpg" alt="">
        </div>
    </div>
    <div class="row featurette d-flex align-items-center justify-content-center my-4 shadow">
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title display-5 fw-bolder">Secure Platform<i class="bi bi-shield-shaded ms-1"></i></h5>
                <p class="card-text fs-3">
                    We prioritize patient privacy and security with HIPAA-compliant
                    technology.
                </p>
                <p class="card-text fs-4">
                    <small class="text-body-secondary">doctorBook.com</small>
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="~/images/secure_plateform.jpg" alt="">
        </div>
    </div>
</div>

<div class="h1 display-5 fw-bolder fst-italic text-center text-secondary shadow-sm py-3 px-2 px-sm-0"
     style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    Our Mission<i class="fa fa-bullseye ms-1" aria-hidden="true"></i>
</div>

<div class="container mt-3 mb-5">
    <p class="lead text-center fs-2">
        Making healthcare convenient and accessible for everyone.
    </p>
    <p class="text-center fs-4">
        We are a team of dedicated healthcare professionals passionate about providing
        convenient
        and
        accessible online doctor appointments. We believe everyone deserves quality healthcare, and our
        platform aims to bridge the gap by making it easier than ever to connect with qualified doctors from
        the comfort of your home.
    </p>
</div>
