@model string

<div class="position-relative profile-picture-container">
    <img src="@Model" alt="Doctor image" class="img-fluid img-thumbnail mx-auto d-block rounded-circle">
    <!-- Button trigger modal -->
    <a id="uploadButton" class="btn rounded-circle border border-dark d-flex flex-column align-items-center justify-content-center" style="background: LightGray" data-bs-toggle="modal" data-bs-target="#uploadProfileModal">
        <i class="bi bi-camera-fill fs-3"></i>
    </a>
</div>